body {
    font-family:sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
}

#filters {
    position: fixed;
    background-color: blue;
    width: 100%;
    padding: 1em;
}

#filters > div {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: smaller;
    font-weight: bold;
    margin-left: 2em;
}

#filters > div span {
    color: white;
}

img.evolution {
    max-width: 3em;
}

img.type, img.weakness {
    width: 2em;
    height: 2em;
    vertical-align: middle;
}

.table {
    padding-top: 4em;
    display: table;
    margin-left: auto; 
    margin-right: auto;
}

.row {
    display: table-row;
    border-bottom-color: gray;
    border-bottom-width: 1px;
}

.row.data:nth-child(4n+2) {
    background-color: lavender;
}
  
.column {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    padding: 5px;
    border: solid gray 1px;
}

.row.fields {
    display: none;
    font-weight: bold;
}

.fields:nth-child(5n+1) {
    background-color: gray;
    display: table-row;
}