body {
    background-color: white;   
}
.logo {
    height: 100px;
}
.inicio {
    text-align: center;
    background: rgba(200, 54, 54, 0);
    height: 500px;
    padding-top: 16%;
}
.controles {
    margin-top: 4%
}

.card {
    width: 17%;
    margin: 1em;
    background:#fff;
    box-shadow: 0 20px 50px rgba(0,0,0,.1);
    border-radius: 1em;
    text-align: center;
    align-content: flex-start;
  }

  .card img{
    width: 56%;
    align-self: center;
  }
  
  .card .box {
    text-align: center;
    padding: 1.25em;
    width: 100%;
  }
  .card .box .img {
    width: 100px;
    height: 120px;
    margin: 0 auto;
  }
  .card .box .img img {
    width: 54%;
    align-self: center
  }
  .card .box h2 {
    font-size: 20px;
    color: #262626;
    margin: 1.25em auto;
  }
  .card .box h2 span {
    font-size: 14px;
    background: #e91e63;
    color: #fff;
    display: inline-block;
    padding: 0.25em 0.6em;
    border-radius: 15px;
  }
  .card .box p {
    color: #262626;
  }
  .card .box span {
    display: inline-flex;
  }

  .progress {
    height: 20px;
  }


 