body {
  background-image: url("./img/fondo_pantalla.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.cintillo {
  height: 75%;
}

.menu{
  background: rgba(255, 255, 255, 0.9);
}

.logo {
  height: 60px;
}

.inicio {
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  /* height: 397px; */
  margin-top: 10%;
  padding-top: 2%;
}

.poke {
  width: 50%;
}

.inicio-img {
  text-align: left;
  background: rgba(255, 255, 255, 0);
    /* height: 397px; */
}
/* 
.controles {
  margin-top: 4%
} */

.card {
  width: 90%;
  height: 90%;
  margin: 1em;
  background:#fff;
  box-shadow: 0 20px 50px rgba(0,0,0,.1);
  border-radius: 1em;
  text-align: center;
  align-content: flex-start;
}

.card img{
  width: 60%;
  align-self: center;
}

.card hr {
  margin-top: 0%;
  color: #64EAB8;
  background-color: #64EAB8;
  height: 0.1em;
  border-radius: 1em;
  border: solid 0.3em;

}

.col-empieza {
  text-align: center;
  position: relative;
  margin-top: -12%;
}

.btn-empieza{
  /* margin-top: 140%; */
  border-style: none;
}
.btn-empieza h3 {
  color: #26282D;
  margin-top: -20px;
}

.progress {
  height: 20px;
}

.entra {
  height: 120px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

.entra:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
h2{
  padding: 2%;

}
.poke-modal {
  width: 90%;
  height: 90%;
  margin: 1em;
  background:#fff;
  box-shadow: 0 20px 50px rgba(0,0,0,.1);
  border-radius: 1em;
  text-align: center;
  align-content: flex-start;
}
.poke-modal img{
  width: 20%;
  align-self: center;
}
.poke-modal li{
  list-style-type: none;
  text-align: left;
}

.type_img {
  width: 33% !important;
}
#myChart{
  width: 400; 
  height: 400;
  margin-top: 2%;
  margin-bottom: 2%;
}
